

body{
    background: #080808;
    color: #fff;
}


.contact-left{
    flex-basis: 35%;
    text-align: center;
    font-size: x-large;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.social-icons{
    margin-top: 8%;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    height: 60px;
    width: 100%;
    font-size: x-large;
}
.contact-right form{
 width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px ;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
img{
    height: 80px;
    padding-top: 2%;
    margin-bottom: 50%;
    padding-bottom: 80%;    
}

